{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Nuevo municipio{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  {% if respuestaMunicipio|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-municipios">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        ACTUALIZAR DATOS DEL MUNICIPIO
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="{{ url_for('actualizarMunicipio', id = respuestaMunicipio.id ) }}"
        autocomplete="off"
        enctype="multipart/form-data">
        <input
          type="text"
          class="form-control"
          name="id"
          value="{{ respuestaMunicipio.id }}"
          required
          hidden />

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="municipio" class="form-label">
                Nombre del municipio
              </label>
              <input
                type="text"
                name="municipio"
                value="{{ respuestaMunicipio.municipio }}"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="region" class="form-label">
                Region del municipio
              </label>
              <input
                class="form-control"
                type="text"
                name="region"
                value="{{ respuestaMunicipio.region }}"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="departamento" class="form-label">
                Departamento del municipio
              </label>
              <input
                class="form-control"
                type="text"
                name="departamento"
                value="{{ respuestaMunicipio.departamento }}"
                required />
            </div>

            <div class="col-md-6">
              <label for="sup_parcelas" class="form-label">
                Superficie de Parcelas del municipio
              </label>
              <input
                class="form-control"
                type="number"
                name="sup_parcelas"
                value="{{ respuestaMunicipio.sup_parcelas if respuestaMunicipio.sup_parcelas else 0 }}"
                min="0"
                step="any"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="num_parcelas" class="form-label">
                Numero de Parcelas del municipio
              </label>
              <input
                class="form-control"
                type="number"
                name="num_parcelas"
                value="{{ respuestaMunicipio.num_parcelas if respuestaMunicipio.num_parcelas else 0 }}"
                min="0"
                required />
            </div>
            <div class="col-md-6">
              <label for="sup_muestra" class="form-label">
                Superficie de Muestra del municipio
              </label>
              <input
                class="form-control"
                type="number"
                name="sup_muestra"
                value="{{ respuestaMunicipio.sup_muestra if respuestaMunicipio.sup_muestra else 0}}"
                min="0"
                step="any"
                required />
            </div>
          </div>

          <div class="row mt-2">

          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el municipio</h3>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
